<article class="post">
  <figure class="post-thumb">
    <img src=<%= local_assigns[:house][:img] %> class="radius-image" width="80px" height="80px" alt="" />
  </figure>
  <div class="text">
    <%= link_to local_assigns[:house][:house][:title], house_path(local_assigns[:house][:house]) %>
    <div class="post-info">
      <%= local_assigns[:house][:house][:address] %>
    </div>
  </div>
</article>
