<article class="post">
  <figure class="post-thumb">
    <img src="../../assets/l2.jpg" class="radius-image" alt="" />
  </figure>
  <div class="text">
    <a href="#blog-single">Build your next landing page. </a>
    <div class="post-info">Sep 09, 2020 - 2 comments</div>
  </div>
</article>
