:root {
	--primary-color: #f93;
	--secondary-color: #b1dc6f;
	--font-color: #666;
	--bg-color: #fff;
	--heading-color: #3f3a64;
	--border-radius: 6px;
	--border-radius-full: 35px;
	--border-color: transparent;
	--border-color-light: #eee;
	--nav-color: #292922;
	--dropdown-color: #fff;
	--iframe-filter: grayscale(0%);
	--bg-light: rgba(255, 255, 255, 0.15);
	--bg-light-fixed: rgba(194, 194, 194, 0.15);
	--bg-grey: #f7f7f7;
	--bg-lightgrey: #f8f9fa;
}

[data-theme="dark"] {
	--primary-color: #f93;
	--secondary-color: #68d585;
	--font-color: #c2c2c2;
	--bg-color: #161c2d;
	--heading-color: #eee;
	--border-color: rgba(255, 255, 255, 0.2);
	--border-color-light: rgba(255, 255, 255, 0.1);
	--nav-color: #fff;
	--dropdown-color: #121725;
	--iframe-filter: grayscale(100%);
	--bg-light: rgba(194, 194, 194, 0.15);
	--bg-grey: #121725;
	--bg-lightgrey: #121725;
}

.profile-page {
	.emp-profile {
		padding: 3%;
		margin-top: 3%;
		margin-bottom: 3%;
		border-radius: 0.5rem;
		background: #fff;
	}
	.profile-img {
		text-align: center;
	}
	.profile-img img {
		width: 70%;
		height: 100%;
	}
	.profile-img .file {
		position: relative;
		overflow: hidden;
		margin-top: -20%;
		width: 70%;
		border: none;
		border-radius: 0;
		font-size: 15px;
		background: #212529b8;
	}
	.profile-img .file input {
		position: absolute;
		opacity: 0;
		right: 0;
		top: 0;
	}
	.profile-head h5 {
		color: #333;
	}
	.profile-head h6 {
		color: #0062cc;
	}
	.profile-edit-btn {
		border: none;
		border-radius: 1.5rem;
		width: 70%;
		padding: 2%;
		font-weight: 600;
		color: #6c757d;
		cursor: pointer;
	}
	.proile-rating {
		font-size: 12px;
		color: #818182;
		margin-top: 5%;
	}
	.proile-rating span {
		color: #495057;
		font-size: 15px;
		font-weight: 600;
	}
	.profile-head .nav-tabs {
		margin-bottom: 5%;
	}
	.profile-head .nav-tabs .nav-link {
		font-weight: 600;
		border: none;
	}
	.profile-head .nav-tabs .nav-link.active {
		border: none;
		border-bottom: 2px solid #0062cc;
	}
	.profile-work {
		padding: 14%;
		margin-top: -15%;
	}
	.profile-work p {
		font-size: 12px;
		color: #818182;
		font-weight: 600;
		margin-top: 10%;
	}
	.profile-work a {
		text-decoration: none;
		color: #495057;
		font-weight: 600;
		font-size: 14px;
	}
	.profile-work ul {
		list-style: none;
	}
	.profile-tab label {
		font-weight: 600;
	}
	.profile-tab p {
		font-weight: 600;
		color: #0062cc;
	}
}

.add-house-page {
	.breadcrumb-bg-about {
		background-size: cover;
		background-image: linear-gradient(
				to right,
				rgba(25, 25, 25, 0.7),
				rgba(0, 0, 0, 0.7)
			),
			url(../assets/banner.jpg);
		background-repeat: no-repeat, no-repeat, no-repeat;
		background-position: center;
		background-attachment: fixed;
	}

	.breadcrumbs-custom-path {
		padding: 20px 0;
		text-align: center;
	}

	.breadcrumbs-custom-path li {
		position: relative;
		display: inline-block;
		vertical-align: middle;
		font-size: 16px;
		line-height: 1.5;
		font-weight: 600;
		text-transform: capitalize;
	}

	.breadcrumbs-custom-path li span.fa {
		font-size: 14px;
	}

	.breadcrumbs-custom-path a,
	.breadcrumbs-custom-path a:active,
	.breadcrumbs-custom-path a:focus {
		color: #777;
	}

	.breadcrumbs-custom-path a:hover {
		color: var(--primary-color);
	}

	.breadcrumbs-custom-path li.active {
		font-weight: 600;
		color: var(--heading-color);
	}

	@media (max-width: 568px) {
		.breadcrumbs-custom-path {
			padding: 15px 0;
		}
	}

	.w3l-breadcrumb {
		background-color: var(--bg-color);
	}

	.radius-image {
		width: 80px;
		height: 85px;
		border-radius: 8px;
	}
	.sidebar-title {
		color: var(--font-color);
	}

	.post {
		display: flex;
		padding-top: 15px;
		.text {
			padding-left: 15px;
			a {
				color: var(--nav-color);
				font-size: 22px;
				&:hover {
					cursor: pointer;
				}
			}
			div {
				color: var(--font-color);
			}
		}
		border-bottom: 1px solid var(--font-color);
	}
}

.tien-ich {
	&-yes {
		position: relative;

		&::before {
			position: absolute;
			content: "Có";
			font-size: 11px;
			color: #fff;
			font-weight: bold;
			padding: 0 5px;
			text-align: center;
			border-radius: 5px;
			background-color: #28a745;
			right: -30px;
			top: 3px;
		}
	}

	&-no {
		position: relative;

		&::before {
			position: absolute;
			content: "Không";
			font-size: 11px;
			color: #fff;
			font-weight: bold;
			padding: 0 5px;
			text-align: center;
			border-radius: 5px;
			background-color: #dc3545;
			right: -50px;
			top: 3px;
		}
	}
}

.slide-show {
	max-height: 500px;
	overflow-y: scroll;
	overflow-x: hidden;
}
.title-image-slide {
	color: var(--font-color);
}

.star-checked {
	color: orange;
}

.box-comment-house {
	.list-comment-review-house {
		color: var(--font-color);

		&-item {
			margin-top: 10px;
			background-color: var(--bg-color);
			padding: 20px;
			border-radius: 10px;
			border-left: 4px solid var(--primary-color);
		}

		.list-comment-top {
		}

		.list-comment-top-name {
			padding: 0px;
			text-align: left;
			font-size: 18px;
			color: var(--primary-color);
			font-weight: bold;
		}

		.list-comment-top-star {
			padding: 0px;
			text-align: left;
		}

		.list-comment-top-time {
			padding: 0px;
			text-align: right;
		}
	}
}

.my-noti-header {
	.icon {
		cursor: pointer;
		line-height: 60px;
		position: relative;

		& > span {
			position: absolute;
			right: -5px;
			top: 5px;
		}
	}

	.icon span {
		background: #f00;
		padding: 7px;
		border-radius: 50%;
		color: #fff;
		vertical-align: top;
		margin-left: -25px;
	}

	.icon img {
		display: inline-block;
		width: 26px;
		margin-top: 4px;
	}

	.icon:hover {
		opacity: 0.7;
	}

	.notifications {
		width: 300px;
		height: 0px;
		max-height: 678px;
		overflow: scroll;
		overflow-x: hidden;
		opacity: 0;
		position: absolute;
		top: 75px;
		right: 150px;
		border-radius: 5px 0px 5px 5px;
		background-color: #fff;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.notifications h2 {
		font-size: 14px;
		padding: 10px;
		border-bottom: 1px solid #eee;
		color: #999;
	}

	.notifications h2 span {
		color: #f00;
	}

	.notifications-item {
		display: flex;
		border-bottom: 1px solid #eee;
		padding: 6px 9px;
		margin-bottom: 0px;
		cursor: pointer;
		position: relative;

		.badge-status {
			position: absolute;
			right: 0px;
			top: 0px;
		}
	}

	.notifications-item:hover {
		background-color: #eee;
	}

	.notifications-item img {
		display: block;
		width: 50px;
		height: 50px;
		margin-right: 9px;
		border-radius: 50%;
		margin-top: 2px;
	}

	.notifications-item .text h4 {
		color: #777;
		font-size: 16px;
		margin-top: 3px;
	}

	.notifications-item .text p {
		color: #aaa;
		font-size: 12px;
	}
}
